/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background: hsla(191, 60%, 89%, 1);
    background: linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
}

/* Container styles */
.container {
    width: 100vw;
    height: 100vh;
}

/* Game title styles */
.game-title {
    width: 20rem;
    height: 70px;
    margin: 2rem auto;
    background: hsla(205, 34%, 40%, 1);
    border-radius: 2rem;
    background: linear-gradient(90deg, hsla(205, 34%, 40%, 1) 0%, hsla(347, 52%, 36%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(205, 34%, 40%, 1) 0%, hsla(347, 52%, 36%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(205, 34%, 40%, 1) 0%, hsla(347, 52%, 36%, 1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}

/* Main styles */
.main {
    max-width: 1068px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2rem;
    background: hsla(55, 90%, 67%, 1);
    background: linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
}

/* Image styles */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Point styles */
.point {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 10rem;
    align-items: center;
}

.my, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myName, .computerName {
    font-size: 1.5rem;
    font-weight: 500;
}

.myPoint, .computerPoint {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Result div styles */
.resultDiv {
    height: 40px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#resetbtn {
    height: 40px;
    width: 60px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Media Queries for Mobile View */
@media only screen and (max-width: 600px) {
    .game-title {
        font-size: 1.5rem;
        width: 80%;
    }
    .main{
        max-width: 90%;
    }
    .image {
        flex-direction: column;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .point {
        flex-direction: column;
        gap: 2rem;
    }

    .myPoint, .computerPoint {
        height: 60px;
        width: 60px;
    }
}
